@media only screen and (min-width: 680px) {
    header {
        display: grid;
        grid-template-columns: 44px auto 1fr;
        align-items: center;
    }

    header img {
        width: 175%;
    }

    header span {
        padding-left: 2rem;
    }

    .hamburger {
        display: none;
    }
    
    .navigation {
        display: flex;
        justify-content: right;
        padding-right: 2rem;
    }

    .navigation a {
        border: none;
    }

    .navigation ul {
        display: flex;
    }

    .info-grid {
        grid-template-columns: 2fr 1fr 1fr;
    }

    /* SPOTLIGHTS */
    .spotlights {
        grid-template-columns: repeat(3, 1fr);
    }
}