@media only screen and (min-width: 935px) {
    header {
        display: grid;
        grid-template-columns: 44px auto 1fr;
        align-items: center;
    }

    header img {
        width: 175%;
    }

    header span {
        padding-left: 2rem;
    }

    .hamburger {
        display: none;
    }
    
    .navigation {
        display: flex;
        justify-content: right;
        padding-right: 2rem;
    }

    .navigation a {
        border: none;
    }

    .navigation ul {
        display: flex;
    }

    .info-grid {
        grid-template-columns: 2fr 1fr 1fr;
    }

    .spotlights {
        grid-template-columns: repeat(3, 1fr);
    }

    .join-container {
        display: grid;
        grid-template-columns: 1.5fr 1fr;
        gap: 3rem;
        align-items: start;
    }

}

@media screen and (min-width: 1025px) {
    .discover-grid {
        grid-template-columns: repeat(3, 1fr);
        grid-template-areas: 
            "card1 card2 card3"
            "card4 card5 card6"
            "card7 card8 card8";
    }
}